<div class="container">
  <div class="section">
    <h2 class="name">Cities:</h2>
<!--    <button (click)="createCity()">Create City</button>-->
    <ul>
      <li *ngFor="let city of (citiesList$ | async)">
        <strong>Name:</strong> {{ city.name }}<br>
        <strong>Location:</strong> {{ city.position.y }}, {{ city.position.x }}<br>
        <strong>Type:</strong> {{ city.locationType }}<br>
        <strong>Vehicles:</strong>
        <ul class="vehicles">
          <li *ngFor="let vehicle of city.vehicles">
            {{ vehicle.name }} ({{ vehicle.constructor.name }})
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>

